@import "~bootstrap/scss/bootstrap";

html,
body,
#root {
  display: flex;
  min-height: 100%;
  width: 100%;
  --card-border-color: rgba(0, 0, 0, 0.125);
}

html {
  font-size: 16px;

  @include media-breakpoint-up(sm) {
    font-size: 18px;
  }

  @include media-breakpoint-up(md) {
    font-size: 20px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 22px;
  }
}

h1 {
  font-size: 1.7rem;
}

p {
  line-height: 1.3;
}

a {
  line-height: 1;
  display: contents;

  &:hover {
    text-decoration: none;
  }
}

button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

i.material-icons {
  font-size: 1.5rem;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 860px;
}

main > .card {
  flex: 1;
}

.card.home {
  .submit-buttons button {
    width: 100%;
  }

  .shield-container {
    flex: 1;
  }

  .shield {
    width: 70px;
    filter: grayscale(100%) opacity(25%);
  }
}

.card.deck {
  &.menu-open {
    .deck-menu {
      transform: scaleY(1);
      transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
    .deck-card-body {
      filter: blur(5px);
      transition: 0.3s -webkit-filter cubic-bezier(0.25, 0.8, 0.25, 1);
    }
  }

  .deck-menu {
    transform: scaleY(0);
    transform-origin: 0 0;
    flex: 0;
    min-height: 0;
    position: relative;
    z-index: 1;
    transition: transform 0s;

    li {
      cursor: pointer;
      font-size: 1.5rem;
      display: flex;
      min-height: fit-content;
      align-items: center;

      i {
        font-size: 1.5rem;
        margin-right: 0.3rem;
      }
    }

    li:hover {
      background-color: $dropdown-link-hover-bg;
    }

    li:active {
      color: $dropdown-link-active-color;
      background-color: $dropdown-link-active-bg;
    }

    i.material-icons.flip {
      transform: rotate(90deg);
    }
  }

  .deck-card-header {
    border-width: 0 0 0.2rem 0;
    border-image-slice: 1;

    button {
      padding: 0;
      border: 0;
      user-select: none;
      background-color: transparent;

      &:focus {
        outline: none;
      }
    }
  }

  .deck-card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0s -webkit-filter;

    &:nth-of-type(2) {
      border-bottom: 1px solid $card-border-color;
    }

    span {
      position: absolute;
      width: 80%;
      line-height: 1.1;
      font-size: 2.5rem;
    }
  }

  .card-control {
    width: 12vh;
    height: 12vh;
    border: 0;
    border-radius: 6vh;
    top: calc(0% - 6vh);
    color: var(--blue);
    background-color: #fff;
    position: absolute;
    z-index: 0;
    user-select: none;
    touch-action: manipulation;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    i {
      font-size: 6vh;
    }

    &.left {
      left: 2%;
    }

    &.right {
      right: 2%;
    }
  }

  @media (any-hover: hover) {
    .card:not(.menu-open) {
      .card-control {
        &:not(.text-muted):hover {
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25),
            0px 4px 10px rgba(0, 0, 0, 0.22);
        }
      }
    }
  }
}

.card.about {
  h2 {
    font-size: 1.2rem;
  }

  dl {
    font-size: $font-size-sm;
  }

  dd {
    margin-bottom: 0.1rem;
  }
}
